* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}

body {
  font-family: 'Archivo Black', sans-serif;
  padding: 1;
  margin: 1;
  background-color: black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.menu span{
  color: white;
  position: fixed;
  transform: translateX(10%) translateY(10%);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;}
  .sidenav a:hover{
    transition: 1s;
    color:black;
    text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.hero{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text{
  text-transform: uppercase;
  color: white;
  text-align: right;
  transform: translateX(15.5em) translateY(-14em);
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.hero-img{
  background-image: url(concert.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  background-color: darkblue;
  padding: 25em;
  height: 100vh;
  width: 100vw;
}

.page2{
  height: 100vh;
  color: white;
  display: inline-block;
  background-color: black;
  padding: 2em;
}
  .page2 span{
    text-align: left;
    height: auto;
    width: 10em;
}
  .page2 h1{
    text-align: center;
    font-size: 40px;
}
      .page2 h1:hover{
        font-size: 45px;
        transition: 1s;
}
